.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}


.form-width {
  width: 230%;
  position: relative;
  right: 110px;
  border-radius: 50px;
  background-color: #3e3272;
  text-align: center;
}

.nav-button{
  border-radius: 50px;
  color: #5948a3;
}

.navbar-default {
    background-color: #5948a3;
}

.nav-text {
  color: white;
}

.img-size{
  max-width:180%;
  max-height:180%;
}

.convo-size{
  max-width:20%;
  max-height:20%;
}

.pic {
  width:20%;
  height:20%;
  border-radius: 50%;
  position: relative;
  left: 120px;
}

.padme{
  padding-top: 7px;
  padding-right:200px;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}


.pic-in-modal {
  width: 6%;
  height: 6%;
  border-radius: 50%;
}

.modal-text{
  padding-right: 50px;
}

.post-btn {
  background-color: #5948a3;
  color: white;
}
