.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}


.form-width {
  width: 200%;
  position: relative;
  right: 150px;
  border-radius: 50px;
  background-color: #3e3272;
}

.nav-button{
  border-radius: 50px;
  color: #5948a3;
}

.navbar-default {
    background-color: #5948a3;
}

.nav-text {
  color: white;
}
